.container{
    max-width: 1540px;
    width: 100%;

    margin: 0 auto;
  

    background: rgba(255, 255, 255, 0.75);
    
    padding-top: 136px;


    text-align: center;


}

.innerContainer{
    position: relative;
}

.innerContainer p {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.h1dec {
    font-size: 27px;
}

