

.carousel .control-prev.control-arrow:before{
    border-right: 8px solid #514e4e !important;
}

.carousel .control-next.control-arrow:before{
    border-left: 8px solid #514e4e !important;
    
}

.carousel-status{
    display: none  !important
}